body {
    background-color: gray;
    font-size: 1.3rem;
}


.card{
    width: 30%;
    background-color: darkred;
    display: flex;
    position: relative;
    flex-direction: column;
    border: 2px solid black;
    margin: 5px;
    align-items: center;
}

.imginput {
    width: 75%;
}


.gallerycard-warm {
    display: flex;
    flex-wrap: wrap;
}